@using Microsoft.AspNetCore.Http;

<style>
    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
    }

    thead {
        background-color: mediumaquamarine;
        border-collapse: collapse;
        font-size: 12px;
    }

    tbody {
        font-size:12px;
        
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ARMS - Thimphu Thromde</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

    <link href="~/dist/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link href="~/dist/css/adminlte.css" rel="stylesheet" />



</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-teal navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav align-content-sm-end">

                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @{
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Account" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item d-none d-sm-inline-block">
                            <a asp-area="" asp-controller="Home" asp-action="Index" title="Home Page" class="nav-link active"><i class="fas fa-home"></i></a>
                        </li>
                        @*<li class="nav-item d-none d-sm-inline-block">
                                <a class="nav-link" title="Login" asp-area="Account" asp-controller="Account" asp-action="Login"><i class="fas fa-user-circle"></i></a>
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                <a class="nav-link" title="Register new user" asp-area="Account" asp-controller="Account" asp-action="Register"><i class="fas fa-user-plus"></i></a>
                            </li>*@

                    }

                }
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-4">
                <div class="input-group input-group-sm">
                    @*<span class="text-bold text-success" style="font-size: 14px; text-transform: uppercase; letter-spacing: 1px; color: #17a2b8;">
                            Thimphu Thromde
                        </span>*@
                </div>
            </form>

            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="font-weight: bold; font-size: 16px; text-transform: uppercase; letter-spacing: 2px; color: white;">
                    Thimphu Thromde
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                
                    <!-- Messages Dropdown Menu -->
                    <!--<li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-comments"></i>
            <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="#" class="dropdown-item">-->
                    <!-- Message Start -->
                    <!--<div class="media">
            <img src="../../dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
            <div class="media-body">
                <h3 class="dropdown-item-title">
                    Brad Diesel
                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
            </div>
        </div>-->
                    <!-- Message End -->
                    <!--</a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">-->
                    <!-- Message Start -->
                    <!--<div class="media">
            <img src="../../dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
            <div class="media-body">
                <h3 class="dropdown-item-title">
                    John Pierce
                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
            </div>
        </div>-->
                    <!-- Message End -->
                    <!--</a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">-->
                    <!-- Message Start -->
                    <!--<div class="media">
            <img src="../../dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
            <div class="media-body">
                <h3 class="dropdown-item-title">
                    Nora Silvester
                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
            </div>
        </div>-->
                    <!-- Message End -->
                    <!--</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
            </div>
        </li>-->
                    <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    @{
                        if (!User.Identity.IsAuthenticated)
                        {
                            
                            <a class="nav-link text-indigo" title="Login" asp-area="" asp-controller="Account" asp-action="Login">
                                <i class="fas fa-sign-in-alt"></i>
                            </a>

                        }

                    }

                </li>

                @*<li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>*@
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar elevation-4" style="background-color: black;">
            <!-- Brand Logo -->
            <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-link">
                <img src="~/Logo/tt_logo.png" style="opacity: 1" alt="" class="brand-image img-circle elevation-3">
                <span class="brand-text font-weight-bolder" style="letter-spacing: 4px; color: darkorange;"> ARMS</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <!-- Sidebar Menu -->
                <nav class="mt-2">

                    @*<partial name="_SidebarMenu.cshtml" />*@

                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                            with font-awesome or any other icon font library -->

                        <li class="nav-item has-treeview">


                        </li>


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                    <partial name="_Loader.cshtml" />

                    <br />
                    @RenderBody()

                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">

            </div>
            <strong>Copyright &copy;</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>


    <script>

        $(function () {

            var path = window.location.href; // because the 'href' property of the DOM element is the absolute path

            $('a').each(function () {
                if (this.href === path) {
                    $(this).addClass('active');
                    $(this).parentsUntil('topmenu').addClass('menu-open active');

                }
            });



            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        });


    </script>



</body>
</html>
