
<div class="dialog-background" style="display:none" id="img">
    <div class="dialog-loading-wrapper">
        <span class="dialog-loading-icon"><img src="~/dist/img/loader.gif" style="width: 100%; height: 100%;" /></span>
    </div>
</div>