
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Forgot Password Confirmation</h1>
<p>
    The link to reset your password has been sent to your email. Please check your email and reset your password.
</p>