@using CORE_BOL
@model MajorHeadModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">Major Head</a></li>
                    <li class="breadcrumb-item active">Update Major Head</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card card-info">
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-ban"></i> Alert!</h5>
            <p>@TempData["msg"]</p>
        </div>
    }
    <div class="card-header">
        <h3 class="card-title">Update Major Head</h3>
    </div>
    <form class="form-horizontal" asp-action="Edit" method="post">
        <div class="card-body">
            <p>
                <a asp-action="Index" class="btn btn-outline-danger btn-lg" title="Go Back"><i class="fas fa-backward"></i> Go Back</a>
            </p>
            <input type="hidden" asp-for="MajorHeadId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Major Head Name <span style="font-weight: bold; color: red;">*</span></label>
                <div class="col-sm-4">
                    <input asp-for="MajorHeadName" class="form-control" placeholder="Enter Major Head Name" required/>
                    <span asp-validation-for="MajorHeadName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Major Head Code <span style="font-weight: bold; color: red;">*</span></label>
                <div class="col-sm-4">
                    <input asp-for="MajorHeadCode" class="form-control" placeholder="Enter Major Head Code" required />
                    <span asp-validation-for="MajorHeadCode" class="text-danger"></span>
                </div>
                <label class="col-sm-2 col-form-label">Major Head Symbol <span style="font-weight: bold; color: red;">*</span></label>
                <div class="col-sm-4">
                    <input asp-for="MajorHeadSymbol" class="form-control" placeholder="Enter Major Head Symbol" required />
                    <span asp-validation-for="MajorHeadSymbol" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Description </label>
                <div class="col-sm-4">
                    <textarea asp-for="MajorHeadDescription" class="form-control" rows="3" placeholder="Enter Major Head Description"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="custom-control custom-checkbox">
                    &nbsp;&nbsp; <input class="custom-control-input" type="checkbox" asp-for="IsActive" checked>
                    <label for="IsActive" class="custom-control-label">
                        @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" >Save</button>
                    <a type="button" asp-action="Index" class="btn btn-warning">Cancel</a>
                </div>
            </div>

        </div>

    </form>
</div>

