@using CORE_BOL
@model ZoneModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Zone</a></li>
                    <li class="breadcrumb-item active">Update Zone</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card card-info">
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-ban"></i> Alert!</h5>
            <p>@TempData["msg"]</p>
        </div>
    }
    <div class="card-header">
        <h3 class="card-title">Update Zone</h3>
    </div>
    <form class="form-horizontal" asp-action="Edit" method="post">
        <div class="card-body">
            <p>
                <a asp-action="Index" class="btn btn-outline-danger btn-lg" title="Go Back"><i class="fas fa-backward"></i> Go Back</a>
            </p>
            <input type="hidden" asp-for="ZoneId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Zone Name<span style="font-weight: bold; color: red;">*</span></label>
                <div class="col-sm-4">
                    <input asp-for="ZoneName" class="form-control" placeholder="Enter Zone Name" required />
                    <span asp-validation-for="ZoneName" class="text-danger"></span>
                </div>
                <label class="col-sm-2 col-form-label">Zone Code<span style="font-weight: bold; color: red;">*</span></label>
                <div class="col-sm-4">
                    <input asp-for="ZoneCode" class="form-control" placeholder="Enter Zone Code" required />
                    <span asp-validation-for="ZoneCode" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Zone Reader<span style="font-weight: bold; color: red;">*</span></label>
                <div class="col-sm-4">
                    <input asp-for="ZoneReader" class="form-control" placeholder=" Enter Zone Reader" required />
                    <span asp-validation-for="ZoneReader" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="custom-control custom-checkbox">
                    &nbsp;&nbsp; <input class="custom-control-input" type="checkbox" asp-for="IsActive" checked>
                    <label for="IsActive" class="custom-control-label">
                        @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" onclick="return saveme()">Save</button>
                    <a type="button" asp-action="Index" class="btn btn-warning">Cancel</a>
                </div>
            </div>

        </div>

    </form>
</div>
<script>

    function saveme() {
        $('#img').hide();
    }
</script>
