

-- =============================================
-- Author: <Author,,Name>
-- Create date: <Create Date,,>
-- Description: <Description,,>
-- ============================================
-- exec [dbo].[rptFloorWiseCountReport]

create PROCEDURE [dbo].[rptFloorWiseCountReport]

AS

begin

set nocount on;

SELECT  ROW_NUMBER() OVER(
ORDER BY (select 1)) AS Sl,* from(

select bd.numberOfFloors as NumberOfFloors,count(*) as BuildingCount
from mstBuildingDetail bd
group by bd.numberOfFloors

)gg
end